<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
  </RunConfiguration>
  <xUnit>
    <MaxParallelThreads>2</MaxParallelThreads>
    <ParallelAlgorithm>conservative</ParallelAlgorithm>
    <DiagnosticMessages>true</DiagnosticMessages>
    <LongRunningTestSeconds>30</LongRunningTestSeconds>
  </xUnit>
</RunSettings>
